main {
    background-image: './veggies_2.jpg';
}

.leftLogo {
    color: var(--green);
    display: inline;
}

.authHeader-right {
    
    align-self: end;
    margin-right: 5%;
    margin-top: 2%;
    margin-left: auto;
    font-size: x-large;
    
}

.navBar-link {
    color: var(--green);
    /* border: 1px solid black; */
    padding: 8px;
}

.selectedPage {
    border-bottom: 0;
}

.navBar-total {
    margin-bottom: 20px;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30%;
    height: 80%;
}

.form-title {
    margin-bottom: 5%;
}

.error-message-login {
    margin-top: 30%;
}

.bottom-signup {
    margin-top: 20%;
}

 