.leftLogo {
    color: var(--green);
    display: inline;
}

.navBar-right {
    
    align-self: center;
    margin-right: 0;
    margin-left: auto;
    font-size: x-large;
    
}

.navBar-link {
    color: var(--green);
    border: 1px solid black;
    padding: 8px;
}

.selectedPage {
    border-bottom: 0;
}

.navBar-total {
    border-bottom: 1px solid var(--green);
    margin-bottom: 20px;
}

.main-icon {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    height: 10%;
    display: inline;
}

.center-container {
    margin: 20% 30%;

}