main {
    background-image: './veggies_2.jpg';
}

.leftLogo {
    color: var(--green);
    display: inline;
}

.authHeader-right {
    
    align-self: end;
    margin-right: 5%;
    margin-top: 2%;
    margin-left: auto;
    font-size: x-large;
    
}

.navBar-link {
    color: var(--green);
    /* border: 1px solid black; */
    padding: 8px;
}

.selectedPage {
    border-bottom: 0;
}

.navBar-total {
    margin-bottom: 20px;
}

.center-container {
    margin: 20% 30%;

}