.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 7vh;
    width: 23vw;
}

.search-input {
    height: 5vh;
    width: 23vw;
    margin: 10px;
    
}

.submit-btn {
    height: 5vh;
    background-color: yellowgreen;
    margin-top: 0;
}