.foodBucket {
    height: 70vh;
    width: 30vw;
}

span {
    font-size: medium;
}

.del-btn {
    height: 6vmin;
    width: 6vmin;
}

.food-card:nth-of-type(even) {
    background-color: rgb(223, 223, 223);
}


