.nutrient-card {
    height: 70vh;
    margin-right: 0;
    width: 21vw;
}

.nutrient-table {
    width: 20vw
}

.nutrient-col {
    width: 60%;
    margin-left: 5%;
}

.volume-col {
    width: 30%
}

/* .perc-col {
    width: 25%
} */