.leftLogo {
    color: var(--green);
}

.navBar-right {
    
    align-self: center;
    margin-right: 0;
    margin-left: auto;
    font-size: x-large;
    
}

.navBar-link {
    color: var(--green);
    border: 1px solid black;
    padding: 8px;
}

.selectedPage {
    border-bottom: 0;
}

.navBar-total {
    border-bottom: 1px solid var(--green);
    margin-bottom: 20px;
}