.foodBucket {
    display: flex;
    flex-direction: column;   
}

.lefthand-panel {
    width: 24vw
}

.center-panel {
    width: 52vw;
    margin: 0;
}

.right-panel {
    width: 20vw;
    /* justify-self: end; */
    margin-right: 0;
}